@model Database.Entities.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Login.css" />
<div class="change-password-box">
    <div class="login-all-body-area">
        <div class="login-body-area">
            <h4>Şifre Değiştir</h4>
            <div class="login-input-area">
                <div class="mail-area">
                    <p>Öğrenci Numarası</p>
                    <input type="email" name="StudentNumber" value="@Model.StudentNumber" readonly>
                </div>
                <div class="password-area">
                    <p>Eski Şifre</p>
                    <input type="password" name="OldPassword" placeholder="Eski Şifre">
                </div>
                <div class="password-area">
                    <p>Yeni Şifre</p>
                    <input type="password" name="NewPassword" placeholder="Yeni Şifre">
                </div>
                <div class="password-area">
                    <p>Yeni Şifre Tekrar</p>
                    <input type="password" name="NewPasswordConfirmation" placeholder="Yeni Şifre Tekrar">
                </div>
            </div>
        </div>

        <div class="login-footer-area">
            <div class="login-button-area">
                <a class="login-footer-button" id="ChangePasswordStudentButton" href="javascript:;">Güncelle</a>
            </div>
        </div>
    </div>
</div>
